.loginform, .adminLoginform, .custLoginform {
	clear: both;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	width: 380px;;
}

.loginform label {
	width: 100%;
	font-style: italic;
	font-weight: bold;
}

#welcomeText {
	background-color: #000;
	border-radius: 9px;
	color: #d8225d;
	margin-left: 50px;
	margin-right: 50px;
}

input {
	font-size: 15px;
	font-family: sans-serif;
	background: #fbebee;
	border: black;
	border-style: solid;	
	border-width: thin;
}

label {
	font-family: Arial;
	font-size: 15px;
	font-weight: 700;
	color: #d8225d;
	font-style: italic;
}

table {
	width: 380px;;
	height: 80px;
	border-collapse: collapse;
	margin: auto;
	vertical-align: middle;
	border-spacing: 0;
	border-radius: 4px;
	background: #FFF;
	position: relative;
	box-shadow: 3px 3px 3px #1f0d29;
}

#login, input#register {
	border-radius: 3px;
	border: 1px;
	margin: auto;
	display: inline-block;
	cursor: pointer;
	font-family: Georgia, serif;
	font-size: 14px;
	padding: 6px 12px;
	text-decoration: none;
	background: #220846;
	font-weight: 900;
	color: aliceblue;
	position: relative;
	width: 140px;	
}

#forgotpass {
	border-radius: 4px;
	border: 1px;
	margin: auto;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	background: #211e25;
	color: aliceblue;
	position: relative;
}

#login:hover {
	background-color: #58af35;
	box-shadow: 2px 2px 2px #000000;
	transform: translateX(-3%);
	color: #000;
}

input#register:hover {
	background-color: #ff5474;
	box-shadow: 2px 2px 2px #000000;
	transform: translateX(-3%);
	color: #000;
}

#forgotpass:hover {
	background-color: #ff7805;
	color: #000;
}