form, div, not(form.table){
	clear: both;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	width: 380px;;
}

#welcomeText {
	background-color: #000;
	border-radius: 9px;
	color: #d8225d;
	margin-left: 50px;
	margin-right: 50px;
}

table, div.table, .table_min, .table {
	width: 900px;
	border-collapse: collapse;
	margin: auto;
	color: #d8225d;
	text-align: left;
	vertical-align: middle;
	border-spacing: 0;
	border-radius: 4px;
	background: #27184c;
	position: relative;
	box-shadow: 3px 3px 3px #1f0d29;
}

.table_min
{
	width: 550px;
}

tr>td:nth-child(2) {
	width: 50%;
}

tr>td:nth-child(1)
{
	text-align: right;
	padding-right: 20px;
	font-weight: bold;
}

label {
	/* color: #000;//#d8225d; */
    font-style: italic;
}


#btnCancel, #btnOk, #btnClose {
	border-radius: 3px;
	border: 1px;
	margin: auto;
	margin-right: 20px;
	display: inline-block;
	cursor: pointer;
	font-family: Georgia, serif;
	font-size: 14px;
	padding: 6px 12px;
	text-decoration: none;
	background: #220846;
	font-weight: 900;
	color: aliceblue;
	position: relative;
	width: 120px;	
}

#btnCancel:hover, #btnClose:hover {
	background-color: #e42727;
	box-shadow: 2px 2px 2px #000000;
	transform: translateX(-3%);
	color: #000;
}

#btnOk:hover {
	background-color: #58af35;
	box-shadow: 2px 2px 2px #000000;
	transform: translateX(-3%);
	color: #000;
}

#btnOk {
	margin-left: 80px;
}

input {
	font-size: 15px;
	font-family: sans-serif;
	background: #fbebee;
	border: black;
	border-style: solid;	
	border-width: thin;
}
